@import '../stylesVariables.scss';

.mainPlate
{
    #logo
    {
        height: 5rem;
        display: block;
        position: fixed;
        top: 0.9rem;
        left: 1.5rem;
    }
    .resultBox
    {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0rem;
        margin-top: -2.6rem;
        color: $liteTextColor;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .unit
        {
            font-size: 1.3rem;
        }
    }
    width: 100vw;
    height: 100vh;
    .currencyPlate
    {
        padding: 3rem;
        height: 100vh;
        -webkit-transition: all 0.3s ease !important;
           -moz-transition: all 0.3s ease !important;
             -o-transition: all 0.3s ease !important;
                transition: all 0.3s ease !important;  
        .inputBox
        {
            margin-bottom: 2rem;
            width: 70%;
            ::ng-deep .mat-form-field-outline {
                color: $liteTextColor !important;
            }
            ::ng-deep input.mat-input-element {
                color: $liteTextColor !important;
                font-size: 2rem;
            }
            ::ng-deep .mat-form-field-infix
            {
                padding: 0.5em 0 !important;
            }
            ::ng-deep mat-label
            {
                color: $liteTextColor;
            }
        }
        &.left
        {
            flex: 1 1 auto;
            background-color: $primaryColor;
        }
        &.right
        {
            flex: 1 1 auto;
            background-color: $accentColor;
        }
        input
        {
            color: $liteTextColor;
        }
    }
}


@media only screen and (max-width: 40.0625em) {
    .currencyPlate
    {
        padding: 1rem 2rem !important;
    }
    #logo
    {
        height: 3rem !important;
        display: block !important;
        position: fixed !important;
        top: 0.4rem !important;
        left: 0.8rem !important;
    }
}
  


.currencyPlate
{
    &.EUR
    {
        background-color: #2AAABD !important;   
    }
    &.CAD
    {
        background-color: #018383 !important;   
    }
    &.USD
    {
        background-color: #D3214D !important;   
    }
    &.ISK
    {
        background-color: #f44336 !important;   
    }
    &.PHP
    {
        background-color: #e91e63 !important;   
    }
    &.DKK
    {
        background-color: #9c27b0 !important;   
    }
    &.HKD
    {
        background-color: #673ab7 !important;   
    }
    &.HUF
    {
        background-color: #3f51b5 !important;   
    }
    &.CZK
    {
        background-color: #2196f3 !important;   
    }
    &.RON
    {
        background-color: #03a9f4 !important;   
    }
    &.SEK
    {
        background-color: #00bcd4 !important;   
    }
    &.IDR
    {
        background-color: #009688 !important;   
    }
    &.INR
    {
        background-color: #4caf50 !important;   
    }
    &.BRL
    {
        background-color: #8bc34a !important;   
    }
    &.RUB
    {
        background-color: #795548 !important;   
    }
    &.HRK
    {
        background-color: #607d8b !important;   
    }
    &.JPY
    {
        background-color: #46185f !important;   
    }
    &.THB
    {
        background-color: #36b5b0 !important;   
    }
    &.CHF
    {
        background-color: #1b2a49 !important;   
    }
    &.SGD
    {
        background-color: #465881 !important;   
    }
    &.PLN
    {
        background-color: #45969b !important;   
    }
    &.BGN
    {
        background-color: #293462 !important;   
    }
    &.TRY
    {
        background-color: #46185f !important;   
    }
    &.CNY
    {
        background-color: #2f416d !important;   
    }
    &.NOK
    {
        background-color: #be6283 !important;   
    }
    &.NZD
    {
        background-color: #207561 !important;   
    }
    &.ZAR
    {
        background-color: #589167 !important;   
    }
    &.MXN
    {
        background-color: #00a79d !important;   
    }
    &.ILS
    {
        background-color: #00818a !important;   
    }
    &.GBP
    {
        background-color: #216583 !important;   
    }
    &.KRW
    {
        background-color: #00A0B0 !important;   
    }
    &.MYR
    {
        background-color: #004950 !important;   
    }
}