$primaryColor: #2AAABD;
$accentColor: #D3214D;

$homeTypeBackgroundColor: #085A74;
$homeOfficeTypeBackgroundColor: #55A2A7;
$officeTypeBackgroundColor: #EDBB10;

$rentTypeBackgroundColor: #2AAABD;
$buyTypeBackgroundColor: #D3214D;

$menuItemColor: #606060;

$mainBackgroundColor: #F0F0F0;
$sideNavBackgronudColor: #FFFFFF;
$headerBackgroundColor: #FFFFFF;
$liteBackgroundColor: #FFFFFF;

$headerBorderColor: #EAEDF3;

$grayTextColor: #909090;
$liteTextColor: #FFFFFF;

$liteColor: #FFFFFF;

$darkTextColor : #373737;
$primaryTextColor : #677682;
$secondaryTextColor : #757575;
$tertiaryTextColor : #9E9E9E;
$fourthTextColor : #C6C6D0;
$liteTextColor: #FFFFFF;

$dividerColor: #DEDEDE;

$mainFont: 'Source Sans Pro', sans-serif;